name: Build and Push Docker Image

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    strategy:
      matrix:
        recorder:
          - DOCKER_CONTEXT: recorder
        merger:
          - DOCKER_CONTEXT: merger

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set output for version
        id: date
        run: echo "::set-output name=version::$(date +'%Y.%m.%d-%H%M')"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image for merger
        uses: docker/build-push-action@v3
        with:
          context: ${{ matrix.merger.DOCKER_CONTEXT }}
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{github.repository}}:${{ steps.date.outputs.version }}
            ghcr.io/${{github.repository}}:latest

      - name: Build and push Docker image for recorder
        uses: docker/build-push-action@v3
        with:
          context: ${{ matrix.recorder.DOCKER_CONTEXT }}
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{github.repository}}:${{ steps.date.outputs.version }}
            ghcr.io/${{github.repository}}:latest
